body {
  background-color: rgb(41, 32, 32);
  margin-left: 25%;
  color:white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 50%;
}

.container {
  background-color: red;
  padding: 3rem;
  border-radius: 2rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}

h1 {
  text-align: center;
}

/*.navbar { 
  background-color: pink;
  flex-direction: column;
}*/
#result-container {
    /* postion:absolute; */
    box-shadow: 10px #333;
    
    border:1px solid;
    overflow: scroll;
    width: 285px;
    height: 45px;
    background-color: #000;
    float: left;
    margin: 5px;
    text-align: center;
    color:white;
  max-width: 200px;
}
/* #result {
  max-width: 195px;
} */

#clipBoard {
  
  position: static;
  margin-bottom: 20px;
  background-color: darkred;
  text-align: center;
  padding: 15px;
  color: white;
  border-radius: 15px;
}

#length {
  border-radius: 5px;
}

.settings {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#generatePassword {
  margin-top: 20px;
  background-color: darkred;
  padding: 15px;
  color: white;
  border-radius: 15px;
}

/* .form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  text-align: center;
}

label {
  font-weight: bold;
}

.slider {
  border: 3px solid black;
}

.numBox {
  background-color: whitesmoke;
  align-self: right;
  width: 97%;
}

.upper,.numbers,.special{
  margin: 10px;
  padding: 10px;
}

.password {
  background-color: white;
  color: black;
  padding: 1rem;
  border: 1px solid #333;
  height: 2rem;
  width: 350 px;
  align-items: center;
  word-break: break-all;
  border-radius: .5rem;
}

.btn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: .5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.btn:hover {
  background-color: #FFFFFF33;
} */